<div class="app-component mat-primary body">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-container centered-card">
        <img
          id="profile-img"
          src="/assets/hirbo_logotipo_logosimbolo_original.png"
        />
        <form  novalidate>
          <h3 class="item">Registrate</h3>
          <div class="form-group">
            <label for="email">Nombre</label>
            <div class="input-container">
            <img src="/assets/icons8-usuario-24.png" alt="Icono de usuario" class="icon">
            <input
              type="email"
              class="form-control"
              name="email"
              formControlName="email"
              required
            />
          </div>
        </div>

        <div class="form-group">
          <label for="email">Apellido paterno </label>
          <div class="input-container">
          <img src="/assets/icons8-usuario-24.png" alt="Icono de usuario" class="icon">
          <input
            type="email"
            class="form-control"
            name="email"
            formControlName="email"
            required
          />
        </div>
      </div>

      <div class="form-group">
        <label for="email">Apellido materno</label>
        <div class="input-container">
        <img src="/assets/icons8-usuario-24.png" alt="Icono de usuario" class="icon">
        <input
          type="email"
          class="form-control"
          name="email"
          formControlName="email"
          required
        />
      </div>
    </div>

    <div class="form-group">
      <label for="email">Edad</label>
      <div class="input-container">
      <img src="/assets/icons8-usuario-24.png" alt="Icono de usuario" class="icon">
      <input
        type="email"
        class="form-control"
        name="email"
        formControlName="email"
        required
      />
    </div>
  </div>



          <div class="form-group">
            <label for="email">Usuario/ Email</label>
            <div class="input-container">
            <img src="/assets/icons8-usuario-24.png" alt="Icono de usuario" class="icon">
            <input
              type="email"
              class="form-control"
              name="email"
              formControlName="email"
              required
            />
          </div>
        </div>

          <div class="form-group">
            <label for="password">Password</label>
            <div class="input-container">
              <img src="/assets/icons8-contraseña-26.png" alt="Icono de usuario" class="icon">
              <input
                type="password"
                class="form-control"
                name="password"
                formControlName="password"
                required
                minlength="6"
              />
            </div>
          </div>
          <div class="form-group">
            <button  class="btn btn-primary btn-block">
              Registrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
