<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    [mode]="modoBarraLateral"
    [opened]="mostrarBarraLateral"
  >
    <div style="background-color:#000000 ;">
      <h2
      style="
        background-color: #000000;
        height: 40px;
        margin-left: 20%;
        display: flex;
        color: white;
      "
    >
    <img src="/assets/LogoPestaña.png" alt="Icono de usuario" class="icon" style=" margin-left:5%; margin-top: 2%;">
      irbo
    </h2>
  </div>

    <mat-nav-list>
      <button
        (click)="navigateViewUsers()"
        class="hover-orange transparent-button"
        [class.active]="isRouteActive('/listaUsuario')" >
        <i class="fas fa-home" style="margin-right: 35px"></i>
        Usuarios
      </button>


      <button
        (click)="navigateViewJobRequisition()"
        class="hover-orange transparent-button"
        [class.active]="isRouteActive('/jobrequisition')">
        <i class="fas fa-home" style="margin-right: 35px"></i>
        Requisitos de trabajo
      </button>

      <button
        (click)="navigateViewCampanas()"
        class="hover-orange transparent-button"
        [class.active]="isRouteActive('/campanas')">
        <i class="fas fa-home" style="margin-right: 35px"></i>
       Campañas
      </button>

      <button
        (click)="navigateViewCandidatos()"
        class="hover-orange transparent-button"
        [class.active]="isRouteActive('/candidatos')">
        <i class="fas fa-home" style="margin-right: 35px"></i>
       Candidatos
      </button>

      <button
        (click)="navigateViewIndustrias()"
        class="hover-orange transparent-button"
        [class.active]="isRouteActive('/industrias')">
        <i class="fas fa-home" style="margin-right: 35px"></i>
       Industrias
      </button>

      <button
        (click)="navigateViewInteracciones()"
        class="hover-orange transparent-button"
        [class.active]="isRouteActive('/interaccione')">
        <i class="fas fa-home" style="margin-right: 35px"></i>
       Interacciones
      </button>

      <button
        (click)="navigateViewEntrevistas()"
        class="hover-orange transparent-button"
        [class.active]="isRouteActive('/entrevistas')">
        <i class="fas fa-home" style="margin-right: 35px"></i>
       Entrevistas
      </button>

      <button
      (click)="navigateViewReclutadores()"
      class="hover-orange transparent-button"
      [class.active]="isRouteActive('/reclutadores')">
      <i class="fas fa-home" style="margin-right: 35px"></i>
     Reclutadores
    </button>

    <button
        (click)="navigateViewOrganizadores()"
        class="hover-orange transparent-button"
        [class.active]="isRouteActive('/organizaciones')">
        <i class="fas fa-home" style="margin-right: 35px"></i>
       Organizaciones
      </button>


      <div class="container">
      <button class="bottom-left-text" (click)="logoutBS()"
        class="hover-orange transparent-button"
        [class.active]="isRouteActive('/plan')">
        <i class="fas fa-sign-out-alt" style="margin-right: 35px"></i>
        Cerrar sesión
      </button>
    </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <app-header></app-header>
  </mat-sidenav-content>
</mat-sidenav-container>
