<nav>
  <div class="container">
    <div class="menu">
      <div class="left-menu">
        <div><a><img src="assets/LogoPestaña.png" alt="" height="30px"></a></div>
        <div class="dropdown">
          <p>Documentación |</p>
          <div class="dropdown-content">
            <a href="#">Opcion1</a>
            <a href="#">Opcion2</a>
            <a href="#">Opcion3</a>
            <a href="#">Opcion4</a>
          </div>
        </div>

        <div class="dropdown">
          <p>Reclutamiento |</p>
          <div class="dropdown-content">
            <a id="menuIndex" href="#">Requisitos de trabajo</a>
            <a id="menuIndex" href="preguntas_info.html">Preguntas</a>
            <a id="menuIndex" href="entrevistas_info.html">Entrevistas</a>
            <a id="menuIndex" href="Campaign_info.html">Campañas</a>
            <a id="menuIndex" href="carga_info.html">Carga de documentos</a>
          </div>
        </div>
        <p><a id="menuIndex" href="Contacto.html">Hirbo |</a></p>
      </div>

      <div class="right-menu">
        <p><a id="menuIndex" (click)="enviar()">Iniciar Sesión</a></p>
      </div>
    </div>
  </div>
</nav>
<div class="content">
  <!-- Tu contenido aquí -->
</div>
